:root {
    --white: #ffffff;
    --black: #000;
    --pelorous: rgb(59,176,186)
}

/* General */
body{
    padding: 0;
    margin: 0;
}

.container{
    max-width: 80%;
    min-height: inherit;
    margin: auto;
    overflow: hidden;
}

/* Search Section */
#search{
    padding: 15px;
    min-height: 5vh;
}

#search form{
    min-height: inherit;
    text-align: center;
}

.search-box{
    padding: 5px 20px;
    min-width: 50%;
    min-height: inherit;
    font-size: 15px;
    border: 4px solid var(--black);
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.search-box:hover{
    border: 4px solid var(--pelorous);
}

.search-btn{
    padding: 10px;
    min-height: inherit;
    font-size: 15px;
    background: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

button:hover{
    background: var(--pelorous);
    color: var(--white);
}

/* Summary */
#summary{
    padding: 15px;
    min-height: 5vh;
}

#summary h2 {
    padding-left: 15px;
    padding-right: 15px;
    min-height: inherit;
}

/* Results Section */
#results{
    min-height: fit-content;
}

.result{
    margin: 20px;
    display: flex;
    min-width: inherit;
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.result:hover{
    box-shadow: 0 5px 10px 0px rgba(0,0,0,0.5);
}

.image-res{
    float: left;
    width: 50%;
}

.score{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

p{
    font-size: 2em;
}